In [157]:
# Imports
import pandas as pd
import numpy as np

Testing some different commands in pandas

In [111]:
df2 = pd.DataFrame([[1, 2], [4, 5], [7, 8],[7,5]],
...      index=['cobra', 'viper', 'sidewinder','gladius'],
...      columns=['max_speed', 'shield'])

# Documentation

See: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

# Selecting data with loc

In [114]:
# df2.loc?

In [115]:
df2

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8
gladius             7       5

## Get some indices

In [116]:
inds1 = [False, False, True,True]
print(inds1)

[False, False, True, True]

In [117]:
inds2 = df2.shield == 5
print(inds2)

cobra         False
viper          True
sidewinder    False
gladius        True
Name: shield, dtype: bool

## Selecting rows

In [118]:
# Select single row
df2.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [119]:
df2.loc[[True,False,False,False]]

       max_speed  shield
cobra          1       2

In [120]:
# Select row using indices thing boolean indexing
df2.loc[inds2]

         max_speed  shield
viper            4       5
gladius          7       5

In [121]:
# Slice range of rows - note: it's inclusive
df2.loc['cobra':'sidewinder']

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [122]:
# Select several rows
df2.loc[['cobra','sidewinder']]

            max_speed  shield
cobra               1       2
sidewinder          7       8

## Selecting single element

In [123]:
df2.loc['cobra','shield']

2

## Selecting rows + columns

In [124]:
# Select rows + single column - returns Series
df2.loc[['cobra','sidewinder'], 'shield']

cobra         2
sidewinder    8
Name: shield, dtype: int64

In [125]:
# Select rows + multiple columns - returns DataFrame
df2.loc[['cobra','sidewinder'], ['shield']]

            shield
cobra            2
sidewinder       8

In [126]:
# Slice rows + single column - returns Series
df2.loc['cobra':'sidewinder', 'shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [127]:
# Slice rows + 1 or more column - returns DataFrame
# NBNB ** Double braces are not needed when using : **
df2.loc['cobra':'sidewinder',['shield']]

            shield
cobra            2
viper            5
sidewinder       8

In [128]:
# Use indices
df2.loc[inds1,'shield']

sidewinder    8
gladius       5
Name: shield, dtype: int64

In [129]:
# Use inds, multiple columns
df2.loc[inds1,['shield']]

            shield
sidewinder       8
gladius          5

In [130]:
# Use inds, multiple columns
df2.loc[inds1,['shield','max_speed']]

            shield  max_speed
sidewinder       8          7
gladius          5          7

# Selecting data with iloc

In [132]:
# df2.iloc?

In [137]:
# Use indices, multiple columns
df2.iloc[0:2,0:1]

       max_speed
cobra          1
viper          4

# Selecting data with query

In [145]:
df2

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8
gladius             7       5

In [146]:
df2.query('shield >= 5 and max_speed >= 4')

            max_speed  shield
viper               4       5
sidewinder          7       8
gladius             7       5

In [147]:
# Query and then select columns
df2.query('shield >= 5 and max_speed >= 4')[['shield','max_speed']]

            shield  max_speed
viper            5          4
sidewinder       8          7
gladius          5          7

# Pivot

In [160]:
df2.pivot(columns='shield')

           max_speed
shield             2    5    8
cobra            1.0  NaN  NaN
gladius          NaN  7.0  NaN
sidewinder       NaN  NaN  7.0
viper            NaN  4.0  NaN

In [161]:
df3 = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [162]:
df3

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [163]:
table = pd.pivot_table(df3, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [168]:
# Not sure why this breaks
# df3.pivot(values='D', index=['A', 'B'],columns=['C'])